@page
@model SE1703_WebRazor.Pages.Members.IndexModel
@using SE1703_WebRazor.Models
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form method="post">
    <label>Email:</label>
    <input type="text" asp-for="@Model.Email" />
    <input type="submit" value="Search" />
</form>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Password)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                   @*  @await Html.PartialAsync("../Products/_ListProducts.cshtml", item.CategoryId) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a asp-page="./Update" asp-route-id="@item.MemberId">Update</a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.MemberId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>